@model ResturantDemo.Models.Category

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h3 class="pull-left">@Model.Name</h3>
			@if (User.Identity.IsAuthenticated)
			{
				<button class="pull-right" onclick="ShowCreateItemForm(@Model.Id)">Add an Item</button>
				<div id="CreateItemForm"></div>
			}
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="panel-body">
		@foreach (var item in Model.Menu)
			{
			<div class="row">
				<div class="col-xs-8">
					@item.Name
				</div>
				<div class="col-xs-4">@Html.DisplayFor(x => item.Price)</div>
			</div>
			}
	</div>
</div>
@section scripts{


}