@model IEnumerable<ResturantDemo.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Delish Diner</h1>
    <p class="lead"><marquee>Come and eat our food!</marquee></p>
</div>



@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-primary" onclick="ShowCreateForm()">Add a Category</button>
        <div id="CreateForm"></div>
    </div>
}


<div class="row">
    <div class="col-md-9">
        @foreach (var category in Model)
        {
            @Html.Partial("_MenuItemPartial", category)
        }
    </div>
    <div class="col-md-3">
		<div id="shoppingCart">
			@Html.Partial("_ShoppingCart", new ResturantDemo.Models.Order())
		</div>
        <hr />
		<div>
			Super Delish Dinner
		</div>
		<div>
			21 Main St.
		</div>
		<div>
			St. Petersburg, FL 33701
		</div>
		<div>
			727-387-5783
		</div>
    </div>
</div>

@section scripts{

    <script>
        var ShowCreateForm = function () {
            $.ajax({
                url: "/home/create",
                method: "GET",
                dataType:"html",
                success: function (partial) {
                    $("#CreateForm").html(partial);
                }
            })
        }
        var ShowEditForm = function (categoryId) {
        	$.ajax({
        		url: "/home/Edit/?categoryId=" + categoryId,
        		method: "GET",
        		dataType: "html",
        		success: function (partial) {
        			$("#CreatePanelForm").html(partial);
        		}
        	})
        }
        var ShowDeleteForm = function (categoryId) {
        	$.ajax({
        		url: "/home/Delete/?categoryId=" + categoryId,
        		method: "GET",
        		dataType: "html",
        		success: function (partial) {
        			$("#CreatePanelForm").html(partial);
        		}
        	})
        }
		var ShowCreateItemForm = function (categoryId) {
			$.ajax({
				url: "/home/CreateItem/?categoryId=" + categoryId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#CreatePanelForm").html(partial);
				}
			})
		}
		var ShowEditItemForm = function (menuId) {
			$.ajax({
				url: "/home/EditItem/?menuId=" + menuId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#CreateMenuForm").html(partial);
				}
			})
		}
		var ShowDeleteItemForm = function (menuId) {
			$.ajax({
				url: "/home/DeleteItem/?menuId=" + menuId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#CreateMenuForm").html(partial);
				}
			})
		}
		var addToCart = function (itemId) {
			$.ajax({
				url: "/home/ShoppingCart/?menuId=" + itemId,
				method: "POST",
				dataType: "html",
				success: function (partial) {
					$("#shoppingCart").html(partial);
				}
			});
		}

		var getShoppingCart = function () {
			$.ajax({
				url: "/home/ShoppingCart",
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#shoppingCart").html(partial);
				}
			});
		}

		$(document).ready(function () {
			getShoppingCart();
		});
    </script>
}